body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.poster {
  width: 90%;
  margin-left: 25%;
  margin-top: 100px;
  max-width: 600px; 
  margin: 0 auto;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;
}

button{
  color: pink;
  background-color: black;
}
